@keyframes glow {
  0% {
    color: #073107;
    transform: translateX(0) skew(0) scale(1);
    text-shadow: none; }
  50% {
    color: #20c920;
    transform: translateX(3rem) skew(10deg) scale(1.05);
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  100% {
    color: #073107;
    transform: translateX(0) skew(0) scale(1);
    text-shadow: none; } }

@keyframes scaleOut {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 70%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 80%; } }
  @media only screen and (min-width: 125em) {
    html {
      font-size: 100%; } }
  @media only screen and (min-width: 150em) {
    html {
      font-size: 120%; } }

body {
  line-height: 1.6;
  font-family: sans-serif; }

::selection {
  background-color: #fff;
  color: #073107; }

.heading-1 {
  font-size: 4.5rem;
  color: #000;
  line-height: 1; }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 3.5rem; } }

.heading-2 {
  font-size: 3.5rem;
  color: #000;
  line-height: 1; }

.heading-3 {
  font-size: 2rem;
  color: #000;
  line-height: 1; }

.paragraph {
  font-size: 1.5rem;
  color: #073107; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 6rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-center {
  margin-right: auto;
  margin-left: auto; }

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.backdrop.visible {
  display: block;
  opacity: 1;
  visibility: visible; }

.btn {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  border: none;
  transition: all 0.3s;
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn--primary {
    color: #073107;
    background-color: #fff;
    border: 2px solid #073107; }
    .btn--primary:hover {
      color: #fff;
      background-color: #073107; }

.card {
  border: 1px outset #073107;
  background-color: #fff;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  clip-path: polygon(0 0, 96% 0, 100% 4%, 100% 100%, 4% 100%, 0 96%);
  overflow: hidden; }
  .card__image-box {
    height: 17rem;
    width: 100%;
    grid-column: 1/ -1;
    grid-row: 1 / span 1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #073107;
    background-color: #fff; }
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-size: 2rem;
    color: #073107;
    background-color: #fff; }
    .card__image--cover {
      object-fit: cover; }
  .card__title {
    background-color: #ccc;
    color: #073107;
    padding: 1rem;
    width: 80%;
    border: 1px solid #073107;
    grid-column: 1/-1;
    grid-row: 2 / span 1;
    align-self: flex-start;
    justify-self: center;
    text-transform: uppercase;
    transform: translateY(-1.51rem);
    margin-bottom: -1rem;
    clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%); }
  .card__details {
    font-size: 1.3rem;
    font-style: italic;
    color: #073107; }
    .card__details span {
      color: green;
      font-style: normal; }
  .card__btn {
    grid-column: 1/-1;
    border-radius: 0 !important;
    font-size: 2rem !important;
    letter-spacing: 1px;
    background-color: #073107;
    color: #fff; }
    .card__btn:hover {
      background-color: #20c920;
      animation: abc 0.8s infinite; }

@keyframes abc {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.feature__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 22.5rem));
  justify-content: center;
  grid-gap: 2vw; }
  @media only screen and (min-width: 60.3em) and (max-width: 78.2em) {
    .feature__boxes {
      grid-template-columns: repeat(2, minmax(20rem, 25rem));
      grid-gap: 5rem; } }
  @media only screen and (max-width: 50em) {
    .feature__boxes {
      grid-gap: 3.5rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem)); } }

.feature__box {
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%);
  padding: 4rem 1rem;
  background-image: linear-gradient(rgba(7, 49, 7, 0.7), rgba(7, 49, 7, 0.7)), url("../img/camo-1.jpg");
  text-align: center;
  transition: 0.4s; }
  @media only screen and (max-width: 50em) {
    .feature__box {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (hover: hover) {
    .feature__box:hover {
      transform: translateY(-1.5rem); }
    .feature__box:hover ~ * {
      filter: brightness(0.5) blur(2px); } }
  .feature__box--heading-box {
    background-color: white; }
  .feature__box h3 {
    color: #073107; }
  .feature__box p {
    color: #fff;
    text-transform: lowercase;
    font-size: 1.3rem; }

.section-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem 1.5rem;
  background-color: #073107;
  position: fixed;
  width: 15rem;
  bottom: 0;
  padding-top: 0; }
  @media only screen and (max-width: 50em) {
    .section-footer {
      position: relative;
      width: 100vw;
      padding-top: 2.5rem; } }
  .section-footer .copyright-text {
    width: 70%;
    text-align: center;
    color: #ccc;
    font-size: 1.2rem;
    line-height: 1.4; }

.contact {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  margin-top: 2rem; }
  @media only screen and (max-width: 50em) {
    .contact {
      grid-gap: 2.5rem; } }
  .contact__icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: #fff;
    transition: all .2s; }
    .contact__icon:hover {
      fill: #ccc; }

.gallery {
  height: 50vh;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  justify-items: stretch;
  align-items: stretch; }
  .gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .gallery__image-box {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url("../img/camo-1.jpg");
    display: flex;
    justify-items: center; }
    .gallery__image-box--1 {
      grid-column: 1 / span 3;
      grid-row: 1 / span 3; }
    .gallery__image-box--2 {
      grid-row: 4 / -1;
      grid-column: 1 / span 2; }
    .gallery__image-box--3 {
      grid-row: 4 / -1;
      grid-column: 3 / -1; }
    .gallery__image-box--4 {
      grid-row: 1 / span 3;
      grid-column: 4 / -1; }

.modal-dummy {
  background-color: #fff;
  border: 2px solid #073107;
  padding: 5rem;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  @media only screen and (max-width: 50em) {
    .modal-dummy {
      padding: 2rem;
      width: 85vw; }
      .modal-dummy h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem; }
      .modal-dummy .paragraph {
        line-height: 1.4;
        margin-bottom: 1rem; } }
  .modal-dummy h2 {
    color: red; }
  .modal-dummy .paragraph {
    font-size: 1.8rem; }
  .modal-dummy .paragraph--2 {
    color: #20c920;
    font-style: italic;
    font-size: 1.4rem;
    border: 1px solid #073107;
    text-align: center; }
  .modal-dummy__cancel {
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s; }
    .modal-dummy__cancel:hover {
      background-color: red;
      color: #fff; }

.modal-dummy.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%); }

.modal-enrolment {
  background-color: #fff;
  border: 2px solid #073107;
  padding: 5rem;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .modal-enrolment h2 {
    font-size: 3rem;
    color: #073107; }
  @media only screen and (max-width: 50em) {
    .modal-enrolment {
      padding: 2rem;
      width: 85vw; }
      .modal-enrolment h2 {
        font-size: 2.5rem;
        line-height: 1.1; }
      .modal-enrolment .paragraph {
        line-height: 1.3;
        font-size: 1.5rem;
        margin-bottom: 1rem; } }
  .modal-enrolment .paragraph {
    font-size: 1.8rem; }
  .modal-enrolment .paragraph--2 {
    color: #20c920;
    font-style: italic;
    font-size: 1.4rem;
    border: 1px solid #073107;
    text-align: center; }
  .modal-enrolment__cancel {
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s; }
    .modal-enrolment__cancel:hover {
      background-color: red;
      color: #fff; }

.modal-enrolment.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%); }
  @media only screen and (min-width: 50em) {
    .modal-enrolment.visible h2 {
      animation: glow 2s;
      animation-iteration-count: 3; } }

.modal-notice {
  z-index: 20000000000000000000000;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  animation: scaleOut 1s;
  transition: all 0.7s; }
  .modal-notice.invisible {
    opacity: 0;
    transform: scale(0);
    visibility: hidden; }
  .modal-notice--box {
    background-color: #fff;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem 6rem;
    overflow: scroll; }
  .modal-notice h2 {
    color: #073107;
    margin-bottom: 2rem; }
  .modal-notice li:not(:first-child) {
    margin-top: 1rem; }
  .modal-notice .paragraph {
    font-size: 2rem;
    line-height: 1.2; }
  .modal-notice .paragraph--agree {
    color: #073107;
    font-style: italic;
    font-weight: bold;
    margin-top: 2rem; }

.btnn {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.7rem;
  padding: 0;
  margin-top: 1rem;
  transition: all 0.3s; }
  .btnn a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem; }

.btn-reject {
  background-color: red; }
  .btn-reject:hover {
    background-color: #bb2a2a; }

.btn-accept {
  padding: 1rem 3rem;
  background-color: green;
  margin-left: 2rem; }
  @media only screen and (max-width: 50em) {
    .btn-accept {
      margin-left: 0; } }
  .btn-accept:hover {
    background-color: #065206; }

.mobile-nav {
  display: none;
  background-color: #073107;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 50em) {
    .mobile-nav {
      display: flex;
      position: fixed;
      width: 100vw;
      z-index: 150; } }
  .mobile-nav__logo {
    height: 3rem;
    width: 3rem; }
  .mobile-nav__menu-bar {
    position: relative; }
  .mobile-nav__menu-icon {
    height: 0.2rem;
    width: 3.5rem;
    background-color: white;
    display: block;
    transition: all 0.3s; }
    .mobile-nav__menu-icon--2 {
      position: relative; }
      .mobile-nav__menu-icon--2.cancel {
        opacity: 0; }
    .mobile-nav__menu-icon--1, .mobile-nav__menu-icon--3 {
      left: 0;
      position: absolute; }
    .mobile-nav__menu-icon--1 {
      top: 1rem; }
      .mobile-nav__menu-icon--1.cancel {
        top: 0;
        transform: rotateZ(135deg); }
    .mobile-nav__menu-icon--3 {
      bottom: 1rem; }
      .mobile-nav__menu-icon--3.cancel {
        bottom: 0;
        transform: rotateZ(45deg); }

.section-navigation {
  background-color: #073107;
  transition: all 0.4s;
  position: fixed;
  width: 15rem;
  height: 100vh; }
  .section-navigation.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }
  @media only screen and (max-width: 50em) {
    .section-navigation {
      padding: 0;
      width: 70vw;
      height: 100vh;
      position: fixed;
      z-index: 200;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-100%); } }

.navigation__logo-box {
  margin-top: 3rem; }

.navigation__logo {
  display: block;
  height: 3rem;
  width: 3rem;
  margin: auto;
  border-radius: 10%; }
  @media only screen and (max-width: 50em) {
    .navigation__logo {
      position: relative; } }

.navigation__list {
  list-style: none;
  margin-top: 5rem; }
  @media only screen and (max-width: 50em) {
    .navigation__list {
      position: relative; } }

.navigation__item {
  text-align: center;
  margin: 1rem 0; }

.navigation__link {
  display: block;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  transition: all 0.3s; }
  .navigation__link:hover, .navigation__link--active {
    background-color: #fff;
    color: #073107; }

#body-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: [sidebar-start] 15rem [sidebar-end full-start] minmax(2vw, 5vw) repeat(2, [main-start] 1fr [main-end]) minmax(2vw, 5vw) [full-end];
  grid-template-rows: repeat(5, min-content); }
  @media only screen and (max-width: 50em) {
    #body-container {
      grid-template-columns: [full-start] minmax(2vw, 5vw) repeat(2, [main-start] 1fr [main-end]) minmax(2vw, 5vw) [full-end];
      grid-template-rows: repeat(7, min-content); } }

.section-navigation {
  grid-column: sidebar-start / span 1;
  grid-row: 1 / span 3; }
  .section-navigation.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }
  @media only screen and (max-width: 50em) {
    .section-navigation {
      grid-column: full-start / full-end;
      grid-row: 1 / span 1; } }

.section-header {
  background-color: rgba(7, 49, 7, 0.7);
  grid-column: full-start / full-end;
  height: 80vh;
  padding: 6rem;
  background-image: url("../img/Hero-x2.jpg");
  background-size: cover;
  display: flex;
  padding-bottom: 10rem;
  align-items: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 85%); }
  @media only screen and (max-width: 50em) {
    .section-header {
      grid-row: 2 / span 1;
      clip-path: polygon(0 0, 100% 0, 100% 95%, 90% 100%, 0 95%);
      background-position: center;
      padding: 2rem;
      background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8), transparent), url("../img/Hero-x1.jpg");
      margin-top: 2.8rem;
      padding-top: 2.5rem; } }
  .section-header .paragraph {
    letter-spacing: 1.55rem; }
    @media only screen and (max-width: 50em) {
      .section-header .paragraph {
        letter-spacing: 1rem; } }

.section-features {
  grid-column: main-start / span 2;
  grid-row: 2 / span 1;
  padding: 8rem 0; }
  @media only screen and (max-width: 50em) {
    .section-features {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 50em) {
    .section-features {
      grid-row: 3 / span 1; } }
  .section-features h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #a1eca1, #000c00);
    width: 100%;
    justify-self: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .section-features .btn {
    display: block; }

.section-just-in {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/camo-1.jpg");
  border-top: 2px dotted #ccc;
  grid-column: main-start / span 2;
  grid-row: 3 / span 1;
  text-align: center;
  padding: 4rem 0rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 27rem));
  justify-content: center;
  grid-gap: 4em;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .section-just-in {
      grid-row: 4 / span 1; } }
  .section-just-in h2 {
    grid-column: 1 / -1; }

.section-testimony {
  display: none;
  background-color: #20c920;
  padding: 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 85%); }
  @media only screen and (max-width: 50em) {
    .section-testimony {
      grid-row: 5 / span 1; } }

.section-gallery {
  background-color: #073107;
  grid-column: main-start / span 2;
  grid-row: 5 / span 1;
  margin-bottom: 4rem; }

.section-footer {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 3 / -1; }
  @media only screen and (max-width: 50em) {
    .section-footer {
      grid-column: full-start / full-end;
      grid-row: 6 / span 1; } }
