.modal-dummy {
  background-color: $color-white;
  border: 2px solid $color-primary;
  padding: 5rem;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  @media only screen and (max-width: $bp-mobile) {
    padding: 2rem;
    width: 85vw;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }

    .paragraph {
      line-height: 1.4;
      margin-bottom: 1rem;
    }
  }

  h2 {
    color: red;
    // position: relative;
  }

  .paragraph {
    font-size: 1.8rem;
  }

  .paragraph--2 {
    color: $color-primary-light;
    font-style: italic;
    font-size: 1.4rem;
    border: 1px solid $color-primary;
    text-align: center;
  }

  &__cancel {
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: red;
      color: #fff;
    }
  }
}

.modal-dummy.visible {
  // display: block;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
